[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "vendor/github.com/Shopify/sarama"]
	path = vendor/github.com/Shopify/sarama
	url = https://github.com/Shopify/sarama.git
