[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "vendor/github.com/Shopify/sarama"]
	path = vendor/github.com/Shopify/sarama
	url = https://github.com/Shopify/sarama.git
[submodule "vendor/github.com/gobwas/glob"]
	path = vendor/github.com/gobwas/glob
	url = https://github.com/gobwas/glob.git
[submodule "vendor/github.com/alecthomas/kingpin"]
	path = vendor/github.com/alecthomas/kingpin
	url = https://github.com/alecthomas/kingpin.git
[submodule "vendor/github.com/mcuadros/go-version"]
	path = vendor/github.com/mcuadros/go-version
	url = https://github.com/mcuadros/go-version.git
