[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "vendor/github.com/Shopify/sarama"]
	path = vendor/github.com/Shopify/sarama
	url = https://github.com/Shopify/sarama.git
[submodule "vendor/github.com/gobwas/glob"]
	path = vendor/github.com/gobwas/glob
	url = https://github.com/gobwas/glob.git
[submodule "vendor/github.com/alecthomas/kingpin"]
	path = vendor/github.com/alecthomas/kingpin
	url = https://github.com/alecthomas/kingpin.git
[submodule "vendor/github.com/mcuadros/go-version"]
	path = vendor/github.com/mcuadros/go-version
	url = https://github.com/mcuadros/go-version.git
[submodule "vendor/github.com/alecthomas/template"]
	path = vendor/github.com/alecthomas/template
	url = https://github.com/alecthomas/template
[submodule "vendor/github.com/alecthomas/units"]
	path = vendor/github.com/alecthomas/units
	url = https://github.com/alecthomas/units
[submodule "vendor/github.com/pierrec/xxHash"]
	path = vendor/github.com/pierrec/xxHash
	url = https://github.com/pierrec/xxHash
[submodule "vendor/github.com/davecgh/go-spew"]
	path = vendor/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew
[submodule "vendor/github.com/eapache/go-resiliency"]
	path = vendor/github.com/eapache/go-resiliency
	url = https://github.com/eapache/go-resiliency
[submodule "vendor/github.com/eapache/go-xerial-snappy"]
	path = vendor/github.com/eapache/go-xerial-snappy
	url = https://github.com/eapache/go-xerial-snappy
[submodule "vendor/github.com/eapache/queue"]
	path = vendor/github.com/eapache/queue
	url = https://github.com/eapache/queue
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "vendor/github.com/klauspost/crc32"]
	path = vendor/github.com/klauspost/crc32
	url = https://github.com/klauspost/crc32
[submodule "vendor/github.com/rcrowley/go-metrics"]
	path = vendor/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics
[submodule "vendor/github.com/pierrec/lz4"]
	path = vendor/github.com/pierrec/lz4
	url = https://github.com/pierrec/lz4
