debian/kafka2influxdb.1
debian/debhelper-build-stamp
debian/files
debian/kafka2influxdb.debhelper.log
debian/kafka2influxdb.postrm.debhelper
debian/kafka2influxdb.substvars
debian/kafka2influxdb
debian/kafka2influxdb.service

